<!DOCTYPE html>
<html>
    <head>
        <title>
            landing
        </title>
    </head>
    <body>
        <form method ="POST" action ="/signin">
            email: <input type = "text" id = "email_in" name = "email_in"><br>
            password: <input type = "password" id = "password_in" name = "password_in"><br>
            <input type = "submit" value = "login">
        </form>
        <form method ="POST" action ="/signup">
            email: <input type = "text" id = "email_up" name = "email_up"><br>
            password: <input type = "password" id = "password_up" name = "password_up"><br>
            <input type = "submit" value = "sign up">
        </form>
    </body>
</html>