<!DOCTYPE html>
<html>
    <head>
        <title>Lesson Creator</title>
    </head>
    <body>
        <form method ="POST" action ="/quizcreator">
            <fieldset>
                <legend>Create New Lesson</legend>
                <p>Lesson Name: <input type = "text" id = "lesson" name = "lesson"></p>
                <p>Video Link: <input type = "text" id = "video" name = "video"></p>
                <p>Number of Quiz Questions: <input type = "number" id = "noquestions" name = "noquestions"></p>
            </fieldset>
            <p><input type = "submit" value = "Next"></p>
        </form>
    </body>
</html>


