<!DOCTYPE html>
<html>
    <head>
        <title>Quiz Creator</title>
    </head>
    <body>
        <form method = "POST" action = "/complete">
            <fieldset>
                <legend>Create Quiz</legend>
                {%for i in range(noquestions)%}
                    <p>Question {{i+1}}: <input type = "text" id = "q{{i+1}}" name = "q{{i+1}}"></p>
                    <p>Answer {{i+1}}: <input type = "text" id = "a{{i+1}}" name = "a{{i+1}}"></p>
                {% endfor %}
            </fieldset>
            <p><input type = "submit" value = "Submit Lesson"></p>
        </form>
    </body>
</html>
