<!DOCTYPE html>
<html>
    <head>
        <title>
            {{lessonplan.topic}}
        </title>
    </head>
    <body>
        <h1>{{lessonplan1.topic}}</h1>
        <!--https://www.youtube.com/embed/NybHckSEQBI-->
        <iframe id = "video" width="560" height="315" src={{lessonplan1.video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <button id = "quizButton" onclick="startQuiz()">Start Quiz</button>

        <script>
        function startQuiz(){
            var x = document.getElementById("video");
            var y = document.getElementById("quizButton");
            x.style.display = "none";
            y.style.display = "none";
        }
        </script>
    </body>
</html>
