<!DOCTYPE html>
<html>
    <head>
        <title>
            lesson creator
        </title>
    </head>
    <body>
        <form method ="POST" action ="/quizcreator">
            Lesson name: <input type = "text" id = "lesson" name = "lesson"><br>
            Video link: <input type = "text" id = "video" name = "video"><br>
            How many quiz questions would you like: <input type = "number" id = "noquestions" name = "noquestions"><br>
            <input type = "submit" value = "proceed to quiz creator!">
        </form>
    </body>
</html>


