<!DOCTYPE html>
<html>
    <head>
        <title>
            quiz creator
        </title>
    </head>
    <body>
        <form method = "POST" action = "/complete">
            {%for i in range(noquestions)%}
                Question {{i+1}}: <input type = "text" id = "q{{i+1}}" name = "q{{i+1}}"><br>
                Answer {{i+1}}: <input type = "text" id = "a{{i+1}}" name = "a{{i+1}}"><br>
            {% endfor %}
            <input type = "submit" value = "complete lesson creation">
        </form>
    </body>
</html>
