<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new-user.html</title>
</head>
<body>
    <h1>Welcome New User!</h1>
    <form action="#" method="POST">
        <fieldset>
            <p>
                <label>Name</label>
                <input type="text" id="name" name="myName" value="" />
            </p>
            <p>
                <label>Email</label>
                <input type="text" id="email" name="myEmail" value="" />
            </p>
            <p>
                <label>Password</label>
                <input type="password" id="pass" name="myPass" value="" />
            </p>
            <p>
                <label>School</label>
                <input type="text" id="school" name="mySchool" value="" />
            </p>
            <p>
                <label>Are you a student or a teacher?</label>
                <input type="text" id="user" name="userMode" value="" />
            </p>
            <p>
                <input type="submit" value="SignUp" />
            </p>
        </fieldset>
    </form>
</body>
</html>