<!DOCTYPE html>
<html>
    <head>
        <title>index.html</title>
    </head>
    <body>
        <h1>Student</h1>
        <form method ="POST" action ="/student">
            <fieldset>
                <legend>Returning User</legend>
                <p>Email: <input type = "text" id = "email_in" name = "email_in"></p>
                <p>Password: <input type = "password" id = "password_in" name = "password_in"></p>
                <input type = "submit" value = "Login">
            </fieldset>
        </form>
        </br>
        <form method ="POST" action ="/new_user">
            <fieldset>
                <legend>New User</legend>
                <p>Email: <input type = "text" id = "email_up" name = "email_up"></p>
                <p>Password: <input type = "password" id = "password_up" name = "password_up"></p>
                <input type = "submit" value = "Sign Up">
            </fieldset>
        </form>
    </body>
</html>